<div class="centre jumbotron">
  <h1>Welcome to My Recipes App</h1>
  <h2>This is the home page of the Rails development app</h2>
  <%= link_to "Sing Up", "", class: "btn btn-lg btn-success"%>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and Sign up later
    </h2>
    <p>
      <%= link_to "Browse Recipe Listing", recipes_path, class: "btn btn-warning btn-small" %>
    </p>
  </div><!-- end of column 1 -->
  <!-- Column 2 -->
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and Sign up later
    </h2>
    <p>
      <%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %>
    </p>
  </div><!-- end of column 2 -->
  <!-- Column 3 -->
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest
    </h3>
    <h2 class="left">
      Browse and view recipes as a guest and Sign up later
    </h2>
    <p>
      <%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %>
    </p>
  </div><!-- end of column 3 -->
</div><!-- Row -->
